
html{
  box-sizing: border-box;
  max-width: 100%;
}
  *,*::before, *::after{
    box-sizing: inherit;
  }

body{
  font-family: 'Montserrat'; 
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1,2;
  color: black;
  background-color: #F9F6F1;
  margin: 0;
  padding: 0;
	border: 0;
  font: inherit;
	vertical-align: baseline;
}

img{
  max-width: 100%;
  height: auto;
}

ol, ul{
  list-style: none;
}

.wrapper_main{  
  max-width: 100%;
  margin: 0 auto;
}

.wrapper_second{
  max-width: 1110px;
  margin: 0 auto;
}

.main{  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;    
}

/*header style start*/
.header_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 61px;
}

.header_list{
  display: flex;
  align-items: center;
}

.header_item{
  margin-right: 40px;
}

.header_link{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;  
  color: #212121;
  text-decoration: none;   
}

.header_loop{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;
  text-decoration: none;
  margin-bottom: 17px;
}

.header_link:hover, .header_link:active{
  opacity: .75;
}

.cart_all{
  margin-left: 101px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.cart{
  margin-right: 15px;
}

.cart_five{
  width: 45.75px;
  height: 17px;
  display: none;
 }

.cart_all:hover .cart_five{
  display:inherit;
  transition: 1s;
}
/*header style end*/
/*sale style start*/
.sale{  
  padding-top: 138px;
  display: flex;
  margin-bottom: 207px; 
}

.sale_title{      
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 35px;
}

.sale_subtitle{        
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;        
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 55px; 
}

.sale_models{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 105px;    
}

.sale_models_submit{
  width:240px;
  height: 55px;
  background-color:#D7B399;
  border:0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;        
}

.sale_models_submit:hover, .sale_models_submit:active{     
  background:rgb(206, 181, 163);
}

.prices{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first_price{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14px;
  position: absolute;
}

.second_price{
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
  position: absolute;
  top:300px;
}
 
.boot{
  position	: relative;
}
/*sale style end*/
/*footer style start*/
.footer{           
  max-width: 100%;               
  background-color:#212121;
  margin: 0 auto;             
  position: relative;
}  

.footer_delivery{         
  font-size: 30px;
  line-height: 37px;          
  text-align: center;
  letter-spacing: 0.02em;        
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 80px;
  margin-bottom: 23px;                 
}

.footer_gift{
  font-size: 21px;
  line-height: 26px;     
  text-align: center;        
  color: #FFFFFF;
  padding-bottom: 68px;
}
/*footer style end*/

       


       